@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@500&display=swap');
*{
  font-family: 'Gill Sans', georgia, arial;
}
body,html{
  background-color:#4E2F31;
  width:1280px;
  margin:0;
  padding:0;
}
#wrapper{
  max-width:1280px;
  margin-left:auto;
  margin-right:auto;
}
main{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
header, h2, h3{
    font-family:poltawski nowy;
}
p{
    font-family:barlow;
    font-weight: light;
}
header, footer{
  text-align:center;
}
h1{
  font-size:40pt;
}
h2{
    font-style: oblique;
}
#navigation{
  display:flex;
  background:rgba(126,161,173,.1);
  height:100px;
  margin:0;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-left: 20px;
  margin-right: 20px;
}
nav ul{
  list-style-type:none;
  display:inline-flex;
}
nav li a{
  color:rgba(240,240,240,1);
  padding-right:60px;
  padding-left:20px;
  margin-left:20px;
  font-size:23pt;
  text-decoration:none;
}
nav a:active{
  text-decoration: underline;
}
#home, #menu, #order, #contact{
 border-bottom: solid white 3px;
    
}
.grow{
  transition: all .2s ease-in;
}
.grow:hover{
  transform:scale(1.2);
}
#dumpling{
  width:100%;
  height:500px;
  margin-bottom:0px;
}
img{
    overflow:hidden;
}
#Fusion{
    display:flex;
    background-color:rgba(157,182,94,.5);
    height: 150px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
    flex-wrap: nowrap;
    line-height: .5px;
    font-size: 24pt;
}
#Fusion p{
    text-decoration: underline;
    font-size: 20pt;
    padding-bottom: 15px;
}
#submenu{
    text-align: center;
    font-size: 22pt;
    line-height: .5em;
    padding-bottom: 20px;
}
.submenu p{
    position: relative;
    text-align: center;
}
#local h3{
    display: block;
    text-align: center;
    font-size: 26pt;
    padding-top: 20px;
}
hr.solid {
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:.5px solid #bbb;
    width:100px;
    padding-bottom:130px;
  }
#local p{
    text-align: center;
    font-size: 22pt;
}
hr.solid2{
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:.5px solid #bbb;
    width:200px;
    padding-bottom:20px;

}
#localimg{
    height:600px;
    width:645px;
    float:left;
}
hr.solid3{
    float:left;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:.5px solid #bbb;
    width: 100px;
    padding-bottom:100px;
    margin-left: 250px;
}
#chef h3{
    font-size: 26pt;
    text-align: center;
    padding-top: 300px;
}
#chef p{
    line-height: 1.5em;
    font-size: 22pt;
    text-align:center;
    width: 400px;
    padding-left:100px;
}
hr.solid4{
    float:left;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:.5px solid #bbb;
    width: 200px;
    padding-bottom: 0px;
    margin-left: 210px;
}
#chefprep{
    margin-top: 20px;
    height:600px;
    width:645px;
    float:right;
}
footer{
    clear:both;
    display: block;
    background-color:rgba(126,161,173,.1);
    text-align: center;
    font-style: italic;
    padding-top:15px;
    margin-bottom: 0;
    padding-bottom: 20px;
    height:60px;
    line-height: .5pt;
    margin-left: 20px;
    margin-right: 20px;
}
.bg-img{
  background-image: url("contact-img-optional2.jpg");
  filter:blur(5px);
  height:40%;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 275px;
  margin-top: 30px;
}
.text{
  text-align: center;
  transform: translate(0px, -500px);
  font-size: 18pt;
  color:white;
  padding-left:25px;
}
.text .solid{
  margin-top:-90px;
}
#form{
  text-align: center;
  color: white;
  transform: scale(1.2) translate(13px, -150px);
}
#submit:hover{
  color:white;
}
input#submit {
  position:relative;
  transform: translate(-130px,40px);
  background-color: #1b7979;
  border: none;
  border-radius: 30%;
  height:30px;
}
input, label, select, textarea{
  margin-bottom:15px;
}
textarea {
position: relative;  
left: 50px;
}
#grid{
  width:300px;
  left: 460px;
  position: relative;
}